{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Authorize</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'aset/css/bootstrap/bootstrapcdn.css' %}">
	
	<link rel="stylesheet" href="{% static 'aset/css/style.css' %}">

	</head>
	<body onload="load_div()" class="img js-fullheight" style="background-image: url(static/aset/images/water.jpg);">




	<section class="ftco-section">
		<div class="container" >
			<div class="row justify-content-center">
				<div class="col-sm-offset-3 text-center col-sm-6">
					<h2 class="heading-section">Acount Recovery</h2>
				</div>
			</div>
			<div class="row justify-content-center" >
				<div class="col-sm-offset-3 text-center col-sm-6">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Enter Email Address or User ID</h3>
		      	<form action="/account-recovery" method="POST" class="signin-form">
					{% csrf_token %}

		      		<div class="form-group">
						
		      			<input type="text" class="form-control" placeholder="Email/User ID" name = "search_for" value="" autofocus required>
		      		</div>
	           
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3" value="POST">Search</button>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	
									</label>
								</div>
								<div class="w-50 text-md-right">
                  
                  <a href="/" style="color: #070707" ><- Back to Log-in</a>
								</div>
	            </div>

				<div class="container">
					<div class="card1">
				<div id="result-account">
					<hr>
					<center><p ><h4 style="color: #fbceb5">Result</h4></p></center>
					
					{%for acc in accountObj %}
					<div>
						<center>
							<p><img src="/static/profilepics/{{acc.profilepic}}" class="img-circle" width="80"></p>
							<p style="color: #070707;"><strong>Name:</strong> {{acc.firstname}} {{acc.middlename}},  {{acc.lastname}}</p>
							<p style="color: #070707;"><strong>User ID:</strong> {{acc.userid}}</p>
							<p style="color: #070707;"><strong>User Type:</strong> 
							<script> 
									var role = "{{acc.usertype}}";
									var roles = ["Admin","Teller","Supervisor","Manager","Meter Reader"];
									var len = roles.length;
									var rolestr = "";
									separator = ""
									
									for(var i = 0;i < len; i++){
										if(i = len - 1){
										separator = "";
										}else{
											separator = "|";
										}   
										rolestr += roles[role - 1] + separator
									}
									document.write(rolestr)
							</script></p>
							<p style="color: #070707;"><strong>Email: </strong>{{acc.emailaddress}}</p>
							<br>
							<p style="color: #070707;">
								Verification Code will be send to your Email Address.
							</p>
								<a href="/send_vcode={{acc.userid}}"><button type="button" id="postbtn" class="btn btn-success" onclick="this.disabled = true">Continue</button></a>
							  
						</center>
						<br>
            <hr>
						{%endfor%}
					</div>  
				</div>
				</div>
				</div>
				<script>
			
					function load_div(){
						var obj = "{{ accountObj }}";
						document.getElementById("result-account").style.display = "none";
						if(obj != "" ){
							document.getElementById("result-account").style.display = "block";
						}
					}
			
				</script>
	          </form>

	         
		      </div>
				</div>
			</div>
		</div>
	</section>


  

























	<script src="{% static 'aset/js/jquery.min.js' %}"></script>
  <script src="{% static 'aset/js/popper.js' %}"></script>
  <script src="{% static 'aset/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'aset/js/main.js' %}"></script>
 

	</body>
</html>

