{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Authorize</title>

  <!-- Favicons -->
  
  <link href="{% static '/website/css/index1.css' %}" rel="stylesheet">
 
  
</head>
 
<body>

  <header class="showcase">
      <div class="showcase-top">
        <center><h1>GINATILAN WATERWORKS</h1></center>
        <a href="#" class="btn btn-rounded">Sign In</a>
      </div>
      <div class="showcase-content">
        <h1>See what's next</h1>
        <p>Watch anywhere. Cancel Anytime</p>
        <a href="#" class="btn btn-xl"
          >Watch Free For 30 Days <i class="fas fa-chevron-right btn-icon"></i
        ></a>
      </div>
    </header>
    <section class="tabs">
      <div class="container">
        <div id="tab-1" class="tab-item tab-border">
          <i class="fas fa-door-open fa-3x"></i>
          
        </div>
        <div id="tab-2" class="tab-item">
          <i class="fas fa-tablet-alt fa-3x"></i>
          
        </div>
        <div id="tab-3" class="tab-item">
          <i class="fas fa-tags fa-3x"></i>
          
        </div>
      </div>
    </section>

    
  
  
  
  <script>
   
  </script>
</body>

</html>
