.logo img{
	height: 45px;
	width: 45px;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}
	

